<!DOCTYPE html>
<html>
<head>

    <title>wowlookatme</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">    
    <link rel="stylesheet" href="/static/template1.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Vollkorn|Roboto|Dosis" rel="stylesheet">
    <script src="/static/js/jscolor.js"></script>
  </head>

  <body style="background-color: rgb(162, 138, 255);">
    
    <nav class="nav navbar-default navbar-fixed-top" role="banner">
      <div class="navbar-header">	
        <div class="pull-left">
	  <a href="#"><img id="logo" src="/static/images/generic_logo.png" style="height:103px;width:103px"></a>	  
	</div>
      </div>  
      <ul class="nav navbar-nav pull-right" id="navlist">
	<li class="nav-element"><a href="#about">ABOUT</a></li>
	<li class="nav-element"><a href="#contact">CONTACT</a></li>
      </ul>
    </nav>
    <div class="spacer" style="margin-top: 15rem;"></div>
    

    <div id="squarespace" class="spacer" style="margin-top: 15rem; display: block;"></div>

    <div id="descholder">
      <p id="description">
	Place a brief description of what your company does here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    
    
    <div class="spacer" style="margin-top: 5rem"></div>
    
    <div id="boxholder">
            
      <div class="box">
	<div class="tile">
	  <img id="image1" src="/static/images/image1.jpeg" alt="Place image here." width="100%">
	  <div class="imgDescription">
	    <p id="imgDescription" class="imdesc">Describe this image.</p>
	    
	  </div>
	</div>      
      </div>

      <div class="box">
	<div class="tile">
	  <img id="image2" src="/static/images/image2.jpeg" alt="Place image here." width="100%">
	  <div class="imgDescription">
	    <p id="imgDescription" class="imdesc">Describe this image.</p>
	    
	  </div>
	</div>      
      </div>

      <div class="box">
	<div class="tile">
	  <img id="image3" src="/static/images/image3.jpeg" alt="Place image here." width="100%">
	  <div class="imgDescription">
	    <p id="imgDescription" class="imdesc">Describe this image.</p>
	    
	  </div>
	</div>      
      </div>
      
      <div class="box">
	<div class="tile">
	  <img id="image4" src="/static/images/image4.jpeg" alt="Place image here." width="100%">
	  <div class="imgDescription">
	    <p id="imgDescription" class="imdesc">Describe this image.</p>
	    
	  </div>
	</div>      
      </div>
      

      <div class="box">
	<div class="tile">
	  <img id="image5" src="/static/images/image5.jpeg" alt="Place image here." width="100%">
	  <div class="imgDescription">
	    <p id="imgDescription" class="imdesc">Describe this image.</p>
	    
	  </div>
	</div>      
      </div>
      
      <div class="box">
	<div class="tile">
	  <img id="image6" src="/static/images/image6.jpeg" alt="Place image here." width="100%">
	  <div class="imgDescription">
	    <p id="imgDescription" class="imdesc">Describe this image.</p>
	    
	  </div>
	</div>      
      </div>

      <div class="box">
	<div class="tile">
	  <img id="image7" src="/static/images/image7.jpeg" alt="Place image here." width="100%">
	  <div class="imgDescription">
	    <p id="imgDescription" class="imdesc">Describe this image.</p>
	    
	  </div>
	</div>      
      </div>
      
      <div class="box">
	<div class="tile">
	  <img id="image8" src="/static/images/image8.jpeg" alt="Place image here." width="100%">	  
	  <div class="imgDescription">
	    <p id="imgDescription" class="imdesc">Describe this image.</p>
	    
	  </div>
	</div>      
      </div>     
    </div>
    <div class="spacer" style="clear: both;"></div>
    <div class="spacer" style="margin-top: 5rem;"></div>

    <div class="spacer" style="margin-top: 5rem;"></div>

    
    
    <div class="spacer" style="margin-top: 5rem;"></div>
    <div class="subpage" id="about">
      <div class="spacer" style="margin-top:5rem;"></div>
      <hr>
      <div class="sptitle">ABOUT </div>
      
      <div class="aboutholder">
      <div class="spacer" style="margin-top: 3rem;"></div>
      

      <div class="box2">
	<center>
	  <div class="pImgCircle">
	    <img id="pImg1" src="/static/images/person1.jpg" alt="Place image here.">
	  </div>
	  <br><br>
	  
	  <div class="pName" id="pName1">	    
	    BRIAN LU
	  </div>
	  
	  <div class="pDescription" id="pDescription1">
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non orci a velit fermentum lobortis. Nam id erat sed ante congue lacinia quis eget nibh. Aenean euismod massa nec risus mattis gravida. Ut placerat sed orci quis ultricies. 
	  </div>
	  
	</center>
      </div>
      
      <div class="box2">
	<center>
	  <div class="pImgCircle">
	    <img id="pImg2" src="/static/images/person2.jpg" alt="Place image here.">
	  </div>
	  <br><br>
	  
	  <div class="pName" id="pName2">
	    SARAH YOON
	  </div>
	  
	  <div class="pDescription" id="pDescription2">
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non orci a velit fermentum lobortis. Nam id erat sed ante congue lacinia quis eget nibh. Aenean euismod massa nec risus mattis gravida. Ut placerat sed orci quis ultricies. 
	  </div>
	  
	</center>
      </div>              

      <div class="box2">
	<center>
	  <div class="pImgCircle">
	    <img id="pImg3" src="/static/images/person3.jpg" alt="Place image here.">
	  </div>
	  <br><br>
	  
	  <div class="pName" id="pName3">
	    MAX BERTFIELD
	  </div>
	  
	  <div class="pDescription" id="pDescription3">
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non orci a velit fermentum lobortis. Nam id erat sed ante congue lacinia quis eget nibh. Aenean euismod massa nec risus mattis gravida. Ut placerat sed orci quis ultricies. 
	  </div>
	  
	</center>
      </div>	
      
      <div class="box2">
	<center>
	  <div class="pImgCircle">
	    <img id="pImg4" src="/static/images/person4.jpg" alt="Place image here.">
	  </div>
	  <br><br>
	  
	  <div class="pName" id="pName4">
	    MICHAEL WOO
	  </div>
	  
	  <div class="pDescription" id="pDescription4">
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non orci a velit fermentum lobortis. Nam id erat sed ante congue lacinia quis eget nibh. Aenean euismod massa nec risus mattis gravida. Ut placerat sed orci quis ultricies. 	      
	  </div>
	  
	</center>
      </div>      
      <div class="spacer" style="clear: both;"></div>
    </div>
    </div>
    <div class="spacer" style="margin-top: 5rem;"></div>    
    <hr>
    <div class="subpage" id="contact"> 
      <div class="sptitle">CONTACT </div>
      
      <br>
      <p class="contactinfo" style="white-space: pre;">
Company Name
	
345 Chambers Street
New York, NY 10282
	
Email: company@name.com
	
Tel: (212) 312-4800
      </p>
      
    </div>
    
    


    
    

    <div class="spacer" style="margin-top: 5rem;"></div>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/edit.js"> </script>

    
    <script type="text/javascript">
      $(document).ready(function(){
      // Activate Carousel
      $("#myCarousel").carousel();
      
      // Enable Carousel Controls
      $(".left").click(function(){
      $("#myCarousel").carousel("prev");
      });
      $(".right").click(function(){
      $("#myCarousel").carousel("next");
      });
      });
    </script>
    <ul id="action-dropdown" class="dropdown-menu" aria-labelledby="dLabel" style="display:none;"></ul>
  



</body>
</html>