body {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 7%;
    margin-left: 7%;
}

.nav {
    padding-left: 5%;
    padding-right: 5%;
}

.nav-element {
    margin-top: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75vw;
    border-bottom: 1px solid transparent;
    -webkit-transition: border 300ms ease;
}

nav-element:hover {
    border-bottom: 1px solid #333;
}

#description {
    font-family: 'Vollkorn', serif;
    font-size: 3vw;
}

.box {
    float: left;
    position: relative;
    background-color: transparent;
    width: 33%;
    padding-bottom: 45%;
}

.tile {
    background-color: black;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}

.tile:hover img{
    opacity: 0.5;
}

.tile:hover .imgDescription{
    opacity: 1;
}

#imgDescription {
    font-family: 'Vollkorn';
    font-size: 2vw;
}

.tile img {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
}

.tile img, .imgDescription {
    -webkit-transition: opacity 300ms ease;
}

.imgDescription {
    position: absolute;    
    top:0;
    left:0;
    margin: 5%;
    margin-top: 30%;
    color: white;
    opacity: 0;
    
}

#addtile {
    background-color: transparent;
}

#addphto {
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
    font-size: 5vw;
}

.dropdown-item {
    background: transparent;
    border: none !important;
}

.dropdownItem:hover {
    background:#dbdbdb;
}

#addperson {
    width: 200px;
    height: 200px;
    font-size: 5vw;
}

.subpage {
    display: inline;
}

.sptitle {  
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    display: inline;
}

h2 {    
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    margin-top: 20%;
}

.carousel-caption {
    font-family: 'Roboto';
}

.box2 {
    float: left;
    width: 33%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.pImgCircle {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.pImgCircle img {
    width: 100%;
    height: auto;
}

.pName {
    font-family: 'Dosis';
    font-size: 2vw;
}

.pDescription {
    font-family: 'Roboto';
    font-size: 1.5vw;
}

.contactinfo {
    font-family: 'Roboto';
    font-size: 1.5vw;
}

.show {
    display: block;
}