{% extends "template.html" %}

{% block title %}

Settings

{% endblock %}



{% block content %}


<h1 class="heading">Account Settings</h1><br>

<div class="container">
<div class="alert alert-danger">{{status}}</div><br>
</div>

<div class="transbox">
  
  <form method = "POST"><br>
    <b>Change Password</b><br><br>
    <b>Old Password:</b> <input type = "password" name = "oldpass"><br>
    <b>New Password:</b> <input type = "password" name = "newpass"><br><br>
    <input type = "submit" value = "Change Password" name = "newpassSubmit"><br><br>
  </form>
  
</div>


{% endblock %}
