{% extends "template.html" %}

{% block content %}

    <div class="container">
  <div class="jumbotron">
    <h1 id="homemsg">
    	Get Started! Select Your Template
    </h1>
</div>
</div>

  <form action="/templateselector/" method = "POST"><br>
    <b>Template 1:</b> <input type="radio" value="template1" name = "template" checked>
    <pre class = "pre-scrollable"> <b> 123 </b> <button type = button class = "btn">WOW</button>{{template1}}</pre>

    <h3><b>Enter Your Site Name</b></h3>
    <b>Site Name:</b> <input type = "text" name = "site_name"><br>
    <input type = "submit" value = "Submit"><br><br>
  </form>

{% endblock %}
